.header {
  background-color: #fff;
}

.header__title {
  width: 670px;
  height: 100px;
  margin-left: 50px;
  color: --black;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 64px;
  font-weight: 100;
  text-align: left;
}
