.accordion__details {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px;
  margin-bottom: 8px;
}

.accordion__details[open] {
  padding-bottom: 32px;
}

.accordion__details[open] .accordion__summary::after {
  transform: translateY(-50%) rotate(180deg);
}

.accordion__summary {
  font-weight: bold;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3 all;
  position: relative;
  list-style: none;
}

.accordion__summary::after {
  display: block;
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  margin-top: 16px;
}
