header {
  background-color: tomato;
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 0;
  color: white;
}

header nav {
  background-color: orange;
  padding: 10px 0;
}

header nav a {
  color: white;
  font-size: 1.2em;
  margin: 0 10px;
}

main {
  background-color: green;
  padding: 10px 0;
}

main article {
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 10px;
}

footer {
  background-color: blueviolet;
  text-align: center;
}

footer h1 {
  margin: 0;
  color: white;
}
