.container {
  top: 20px;
  left: 20px;
  position: relative;
  width: 354px;
  height: 185px;
}

.histogram {
  display: grid;
  flex-direction: column;
  border: 1px solid var(--grey-3);
  border-radius: 6px;
  padding: 16px 24px 24px;
  box-sizing: border-box;
}

.histogram__title {
  display: flex;
  justify-content: space-between;
}

.histogram__filter {
  text-decoration: none;
  color: var(--blue);
}

.histogram__orders-count {
  margin-top: 12px;
  font-weight: 400;
  font-size: 20px;
}

.histogram__body {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: 39px;
  height: 50px;
}

.histogram__bar {
  background-color: var(--blue);
  width: 100%;
  height: var(--height);
  margin-right: 1px;
}

.histogram__bar:last-child {
  margin: 0;
}